.medecin-container {
  display: flex;
  min-height: 100vh;
}

.medecin-sidebar {
  width: 220px;
  background-color: #1e3a8a; /* bleu foncé */
  color: white;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}
.welcome-box {
  background: rgba(255, 255, 255, 0.15);
  padding: 12px;
  border-radius: 8px;
  margin-bottom: 20px;
  text-align: center;
}
.medecin-nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.medecin-nav li {
  margin: 0.5rem 0; /* réduit l'espacement */
}

.medecin-nav li a {
  color: white;
  text-decoration: none;
  display: block;
  padding: 0.5rem 0.75rem;
  border-radius: 5px;
  transition: background 0.2s;
}

.medecin-nav li.active a,
.medecin-nav li a:hover {
  background-color: #3b82f6; /* bleu plus clair */
}

.logout-btn {
  margin-top: auto; /* pousse le bouton tout en bas */
  padding: 0.5rem 0.75rem;
  background-color: #ef4444; /* rouge */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  transition: background 0.2s;
}

.logout-btn:hover {
  background-color: #b91c1c; /* rouge plus foncé */
}

.medecin-main {
  flex: 1;
  background-color: #f3f4f6;
  padding: 1rem;
}
