.file-upload {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;
  }
  
  .add-button {
    background-color: #2211b8;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .add-button:hover {
    background-color: #1511e2;
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  ul li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #f9f9f9;
    padding: 10px;
    border-radius: 8px;
    margin: 5px 0;
  }
  
  ul li a {
    text-decoration: none;
    color: #0967cc;
    font-weight: bold;
  }
  
  ul li a:hover {
    text-decoration: underline;
  }
  